*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

html {
    min-width: 550px;
    position: relative;
}

body {
    background-color:blueviolet;
}

header {
    position: relative;
    top: 0;
    left: 0%;
    right: 0%;
    background: black;
    box-shadow: 0 5px 10px black;
    padding: 0px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 10px 0px 20px 10px whitesmoke;
}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color:white;
}

header .nav_links ul {
    list-style: none;
}

header .nav_links ul li {
    position: relative;
    float: left;
}

header .nav_links ul li a {
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    color: white;
    display: block;
}

header .nav_links ul li a:hover {
    background: gray;
    transition: 0.80s;
}

a img {
    height: 55px;
    width: 100px;
}

header .nav_links ul li ul {
    position: absolute;
    left: none;
    width: 120px;
    background: lightgrey ;
}

#submenu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#submenu li a {
    font-size: 12px;
    font-weight: bold;
}


.nav ul li {
    position: relative;
    list-style: none;
    display: inline-block;
}

.mem1 img {
    height: 250px;
    width: 350px;
}

section {
    height: 65vh;
    max-height: 800px;
    display: flex;
}

.content {
    background-color: palevioletred;
    justify-content: center;
    padding: 0px 50px;
    position: block;
    margin: auto;
    width: 70%;
    min-width: 950px;
    max-height: 350px;
    border-radius: 10px;
    transition: 0.6s;
}

.content:hover {
    box-shadow: 0 15px 20px black;
}

.mem1 {
    display: flex;
}


.content h2 {
    text-align: center;
    padding-top: 20px;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding-top: 20px;
}

h2 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color:white;
}

p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -50px;
    margin-top: -18px;
}

.bts {
    text-align: center;
    padding-bottom: 100px;
}

.container {
    text-align: center;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}


.container h4 {
    width: 80%;
    margin: auto;
}

.container img {
   width: 80%;
   height: 80%;
}

.box {
    background-color: blueviolet;
}


h3 {
    padding: 10px 80px;
    text-align: justify;
    font-family: 'arial';
    text-transform: none;
}


.achievemnts {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: wheat;
    width: 80%;
    margin: auto;
    border-radius: 20px;
}

footer {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 20px;
}

footer h3 {
    text-align: center;
}

.inner {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: wheat;
    width: 80%;
    margin: auto;
    border-radius: 20px;
}
.ach {
    padding: 20px;
}

.outer {
    padding: 20px;
}

img {
    border-radius: 20px;
}

.image {
    text-align: center;
}

.image img {
    width: 80%;
    height: 100%;
}

.vid {
    text-align: center;
    color: violet;
    font-weight: bolder;
    padding-top: 20px;
}

h6 {
    font-size: 20px;
    font-family: 'Arial';
    text-align: center;
    padding-bottom: 10px;
}